<h1>Counter</h1>
<p><%= session %></p>
<button onClick="window.location.href='/'">Add One</button>
<button onClick="window.location.href='/two'">Add Two</button>
<button onClick="window.location.href='/reset'">Reset</button>