<body>
	<h1>Welcome to Quoting Dojo!</h1>
	<form action='/process' method='post'>
		Your Name: <input type='text' name='author'>
		Your Quote: <input type='text' name='content'>
		<button name='submit'>Add Quote</button>
	</form>
	<form action='/skip' method='post' >
		<button name='submit'>Skip to Quotes!</button>
	</form>
</body>