<html>
	<head>
		<title>Great Number Game!</title>
	</head>
	<body>

		<h1 style='text-align: center;'>Welcome to the Great Number Game!</h1>

		<h3 style='text-align: center;'>I am thinking of a number between 1 and 100.</h3>
		<h3 style='text-align: center;'>Take a guess!</h3>

		<!-- CREATE SPAN TAGS TO RENDER RESPONSE TO EACH GUESS-->
		<% if(message == messages.low){ %>
			<span><h1 style=' width: 400px; height: 43px; background-color: #B22222; margin: auto; text-align: center; vertical-align: middle; color: white; border: 1px solid black;'><%= messages.low %></h1></span>
		<% } %>
		<% if(message == messages.high){ %>
			<span><h1 style=' width: 400px; height: 43px; background-color: #B22222; margin: auto; text-align: center; vertical-align: middle; color: white;'><%= messages.high %></h1></span>
		<% } %>
		<% if(message == messages.correct){ %>
			<span><h1 style=' width: 400px; height: 43px; background-color: green; margin: auto; text-align: center; vertical-align: middle; color: white;'><%= messages.correct %></h1></span>
		<% } %>

		<% if(game_over == false){ %>
		<span><form action='/process' method='post'>
			<input type='text' name='guess'  style='display: block; margin: auto; margin-top: 5px; text-align: center;'>
			<button type='submit' name='submit'  style='display: block; margin: auto; margin-top: 5px; text-align: center;'>Guess!</button>
		</form></span>
		<% } %>

		<% if(game_over == true){ %>
		<span><form action='/new' method='post'>
			<button type='submit' name='submit'  style='display: block; margin: auto; margin-top: 5px; text-align: center;'>Play Again</button>
		</form></span>
		<% } %>

	</body>
</html>