<body>
	<h1>New Animal</h1>
	<form action='to_show_animals' method='post'>
		<button>Show All Animals</button>
	</form>
	<form action='add_animal' method='post'>
		Name: <input type='text' name='name'>
		Number of Legs: <input type="text" name="num_legs">
		Animal Type: <input type="text" name="animal_type">
		Animal Age: <input type='text' name='age'>
		<button name='submit'>Add Animal</button>
	</form>
</body>