<body>
	<h1>Show Animal</h1>
	<form action='/to_show_animals' method='post'>
		<button>Show All Animals</button>
	</form>
	<h3>Name: <%= animal.name %></h3>
	<h3>Number of Legs: <%= animal.num_legs %></h3>
	<h3>Animal Type: <%= animal.animal_type %></h3>
	<h3>Age: <%= animal.age %></h3>
</body>