<!DOCTYPE html>
<html>
	<head>
		<title>Survey Form</title>
	</head>
	<body>
		<form action='/result' method='post'>
			Your Name:<input style="display: block;" type="text" name="name">
			Dojo Location:<select style="display: block;" type="text" name="location">
				<option>Burbank, CA</option>
				<option>Dallas, TX</option>
				<option>Seattle, WA</option>
				<option>Washington DC</option>
			</select>
			Favorite Language:<select style="display: block;" type="text" name="language">
				<option>JavaScript</option>
				<option>Python</option>
				<option>Java</option>
				<option>C#</option>
				<option>C++</option>
				<option>Objective-C</option>
				<option>Swift</option>
				<option>Ruby</option>
			</select>
			Comment:<input style="display: block;" type='text' name="comment">
			<input style="display: block;" type="submit" name="submit">
		</form>
	</body>
</html>