<h1>Submitted Information</h1>
<h4>Your Name: <%= request.name %></h4>
<h4>Dojo Location: <%= request.location %></h4>
<h4>Favorite Language: <%= request.language %></h4>
<p>Comment: <%= request.comment %></p>
<button onClick="window.location.href='/'">Back</button>